<form action="/register" method="post" >
    <div class="form-group">
        <label for="first_name" style="color:white;" >Nombre</label>
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="name">
    </div>
    <div class="form-group">
        <label for="last_name" style="color:white;">Apellido</label>
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="last name">
    </div>
    <div class="form-group">
        <label for="email" style="color:white;">E-mail</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="email">
    </div>
    <div class="form-group">
        <label for="password" style="color:white;">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="*******">
    </div>
    <div class="form-group">
        <label for="confirm_password" style="color:white;">Confirmación de Contraseña</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="*******">
    </div>
    <input type="submit" value="Registrarme" class="btn btn-primary">
</form>